<div class="card">
	<div class="card__content">
		<h3 class="card__title">{{name}}</h3>
		<div>{{description}}</div>
		<p class="card__comment">ID: {{id}}</p>
		<div class="card__line">
			<p class="card__price">{{price}}₴</p>
			<a href="/product-edit?id={{id}}" class="card__link">Редагувати</a>
		</div>
	</div>
</div>